body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--theme-gradient);
}

.container {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}


#selection {
    font-style: italic;
}

.climate-btn {
    border-radius: 2em;
    display: block;
}

.preference img:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.preference img {
    cursor: pointer;
    user-select: none;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 0 4em;
}